.main-container{
    display: flex;
    width: 100%;
    flex-direction: column;/*All sections inside main container are in column direction*/
    align-items: center; /*All elements in the main container (which means that all the containers it has are
                           centered horizontally*/
}

@keyframes gradientAnimation {/*Using animationed background for the theme container*/
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.theme-container{
    display: flex;
    flex-direction: column;/*The theme container is in column direction*/
    min-height: 100vh;/*The height is minimum 100% of viewport height*/
    width: 100%;
    align-items: center;/*All elements inside the theme container are centered horizontally*/
    background: linear-gradient(120deg, #13076B 0%, #968AEB 50%, #C0B04D 100%);/*Choosing the angle of the
    gradient (120deg), 3 different colors and their location in the background*/
    background-size: 200% 200%; /*Setting bigger size than the screent for the animation to be shown well*/
    animation: gradientAnimation 5s ease infinite;/*Using the animation above*/
    gap: 10px;
    padding-bottom: 10px;
}

.theme-container > h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Cinzel', serif; /*Using external font from Google*/
}

.theme-container > p{
    width: 40%;
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif; /*Using external font from Google*/
    font-weight: bold;
}

.theme-container button{
    border-color: #C0B04D;
}

.theme-container button:hover{
    background-color: #6B5D07;
    border: none;
}

.theme-container > img{
    height: 40vh;
    border-radius: 5%; /*Having rounded corner a bit for the image*/
}

.userChoice-container{
    min-height: 100vh; /*The height is minimum 100% of viewport height*/
    width: 100%;
    display: flex;
    flex-direction: column;/*The theme container is in column direction*/
    align-items: center;
    background-color: #3B3486;
    gap: 50px;
}

.userChoice-container > h2{
    width: 60%;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Cinzel', serif; /*Using external font from Google*/
    padding-top: 30px;
    color: #EBFBF5;
}

#form{ /*We use the form as container as well*/
    width: 80%;
    display: flex;
    flex-direction: column; /*The form is in column diretion, i.e the queries-container on top and beneath the
                              submitButton-container*/
    gap: 5px;
    background-color: black;
}

.queries-container{
    width: 100%;
    display: flex;
    flex-direction: column; /*The queries-container is in column direction, i.e every next query is beneath
                              the former query*/
    gap: 5px;
    background-color: black;
}

.singleQuery-label{
    font-size: 1.8rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif; /*Using external font from Google*/
    color: #EBFBF5;
}

.singleQuery-container{
    width: 100%;
    background-color: #3B3486;
    display: flex; /*Every single query is in row direction, i.e the label and the input/select are in the same
                       line*/
    justify-content: space-between; /*The label is in the leftmost of the container while the input/select is in
                                      the rightmost*/
    align-items: center; /*The label and the input/select are centered vertically inside the singleQuery-container*/
    gap: 10px;
    padding: 5px;
}

#numberOfQuestions-input{ /*Styling the <input type="number"...> i.e the box where the number of questions the
                            user select is shown*/
    width: 342;
    min-width: 342px;
    text-align: center;
    border-radius: 6%;
    height: 43px;
    max-height: 43px;
    min-height: 43px;/*Guarantee that the height of the input won't change*/
    border: none;
}

.query-selector{/*Styling the <select> element, i.e the box where the list of category/difficulty/questions'
                  type is shown*/
    width: 342px;
    min-width: 342px;
    height: 43px;
    max-height: 43px;
    min-height: 43px;
    text-align-last: center;
    text-align: left;
}

.submitButton-container{
    width: 100%;
    background-color: #3B3486;
    display: flex;
    justify-content: center; /*The button is positioned in the center horizontally*/
}

.submitButton-container input[type="submit"]{ /*Styling the submit button itself*/
    width: 150px;
    max-height: 43px;
    margin-top: 30px;
}

.game-container{
    display: flex;
    flex-direction: column; /*The theme container is in column direction*/
    justify-content: center;
    align-items: center; /*All elements inside the userChoice-container are centered horizontally*/
    min-height: 100vh; /*The height is minimum 100% of viewport height*/
    width: 100%;
    background-color: #DCB8E3;
    gap: 35px;
}

.titleAndButton-container{ /*Styling the container in which we have h2 and button*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.titleAndButton-container > h2{
    font-family: 'Noticia Text', serif; /*External font from Google*/
    font-size: 2.5rem;
    color: #261429;
    font-weight: bold;
    text-align: center;
}

#defaultH2{
    font-size: 3.5rem;
}

.titleAndButton-container button {
    background-color: #9A8AAA;
    border: none;
}

.titleAndButton-container button:hover{
    background-color: #9A8AAA;
}

#form-game { /*We use the form as container as well*/
    display: flex;
    flex-direction: column; /*We use the form in column direction, i.e first we have the questions container
                              and afterwards we have the submit button / Reset preferences button*/
    align-items: center;
    width: 80%;
    background-color: #DCB8E3;
    gap: 10px;
}

.questions-container{
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: auto; /*The question container won't resize in accordance to the amount of questions. Instead
                        it will have a scroll bar*/
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    background-image: url("/Images/wesley-tingey-ZdOW9Qd8mQo-unsplash.jpg"); /*Using background image*/
    /*background-color: brown;*/
}

.questions-container P{ /*Styling the questions itselves inside the qustions-container*/
    font-size: 1.8rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif; /*External font from Google*/
    /*Using external font from Google*/
    color: black;
    font-weight: bold;
}

.options-container{ /*Styling the questions' possible answers: whether it's multiple choice questions and whether
                      it's True/False questions. Styling the way it's shown on the screen*/
    display: flex;
    justify-content: space-between; 
}

.options-container label{ /*Styling the label next to each option*/
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Cinzel', serif; /*External font from Google*/
    font-weight: bold;
}

.footer-container{
    width: 100%;
    background: linear-gradient(120deg, #13076B 0%, #968AEB 50%, #C0B04D 100%);
    /*Choosing the angle of the
    gradient (120deg), 3 different colors and their location in the background*/
    background-size: 200% 200%;
    /*Setting bigger size than the screent for the animation to be shown well*/
    animation: gradientAnimation 5s ease infinite;
    /*Using the animation above*/
}

.footer-container span{
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 768px){ /*Styling when the width of the screen is smaller then 768 px*/

    .queries-container{
        background-color: #3B3486; /*Removing the black gap line between each query*/
    }

    .singleQuery-container{
        flex-direction: column; /*Every single query is in column direction, i.e the label and the input/select
                                  are in top of each other*/
    }

    #form{
        background-color: #3B3486; /*Removing the black gap between the queries container to the submit
                                       button container*/
    }

    .singleQuery-label{ /*Restyling the label*/
        font-size: 1.25rem;
        text-align: center;
    }

    #numberOfQuestions-input{ /*Restyling the <input type="number" ...> thus the width will reduce as long as
                                the user minimize the screen*/
        width: 100%;
        max-width: 100%;
        min-width: 0px;
        height: 100%;
        flex: 1; /*Guarantees the resize property*/
    }

    .query-selector{ /*Resizing the <select> the same as the <input type ="number"...> above*/
        width: 100%;
        max-width: 100%;
        min-width: 0px;
        flex: 1;
    }

    .titleAndButton-container > h2 { 
        font-size: 1.8rem;
    }

    #defaultH2 {
        font-size: 2.5rem;
    }

    .questions-container > p {
        font-size: 1.2rem;
    }

    .options-container label {
        font-size: 0.7rem;
    }

    .footer-container span {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px){ /*Styling when the width of the screen is smaller then 576 px*/
    .theme-container > img{
        height: 25vh;
    }

    .theme-container>h1{
        font-size: 2.5rem;
    }

    .singleQuery-label {
        font-size: 1rem;
        text-align: center;
    }

    .userChoice-container>h2 {
        font-size: 2rem;
    }

    .query-selector{
        font-size: 0.8rem;
    }

    #numberOfQuestions-input{
        font-size: 0.8rem;
    }

    .options-container{ /*Wh change the style of the way the options shown in each questions so it will be column
                          direction instead of row*/
        flex-direction: column;
    }

    .footer-container span {
        font-size: 1rem;
    }
}